<div
  class="d-flex flex-column"
  *transloco="let t; prefix: translationTemplate()"
>
  <div class="row">
    <brdgs-select
      class="d-block col-12"
      [label]="t('SELECT_LANGUAGES')"
      [(value)]="accountLanguages().languageIds"
      [isRequired]="true"
      [isMultiple]="true"
      [options]="$languages | async"
    >
    </brdgs-select>
    @if(accountLanguages().languageIds.includes(fixedID)){ @for (language of
    otherLanguagesSignal(); track $index ;let i=$index ) {
    <div class="d-flex col-12">
      <brdgs-input
        class="d-block flex-fill"
        [label]="t('OTHER_LANGUAGES')"
        [(value)]="otherLanguagesSignal()[i]"
        [isRequired]="true"
        [type]="bridgesInputType.TEXT"
        (valueChange)="updateOther()"
      ></brdgs-input>
      @if(i >=1 ){
      <button
        (click)="deleteLanguage(i)"
        type="button"
        [disabled]="readonly()"
        mat-icon-button
        matTooltip="{{ t('DELETE_LANGUAGE') }}"
        aria-label="delete Language"
      >
        <mat-icon
          class="icon-x-circle error-color"
          aria-label="delete Language"
        ></mat-icon>
      </button>
      }
    </div>
    }
    <div class="d-flex col-12">
      <button
        (click)="addLanguage()"
        type="button"
        [disabled]="readonly()"
        mat-button
        matTooltip="{{ t('ADD_LANGUAGE') }}"
        aria-label="add language"
      >
        <mat-icon aria-label="add language" class="icon-add"></mat-icon>
        {{ t("ADD_LANGUAGE") }}
      </button>
    </div>
    }
  </div>
</div>
