<div
  *transloco="let t; prefix: translationTemplate"
  class="d-flex flex-column w-100 px-3"
>
  <mat-card class="mx-auto col-12 col-md-6 col-lg-4">
    <mat-card-content class="p-4">
      <div class="mat-title-large mb-4">{{ t("RESET_PASSWORD") }}</div>

      <form #confirmResetForm="ngForm">
        <!-- Email Field -->
        <brdgs-input
          class="col-12 mb-2"
          [label]="t('EMAIL')"
          [(value)]="account.email"
          [isRequired]="true"
          [isDisabled]="true"
          [type]="bridgesInputType.EMAIL"
        ></brdgs-input>

        <app-confirm-password [(account)]="account"></app-confirm-password>
      </form>
      <!-- Sign In Button -->
      <button
        mat-flat-button
        color="primary"
        class="w-100"
        [disabled]="confirmResetForm.invalid"
        (click)="resetPassword()"
      >
        {{ t("CHANGE_PASSWORD") }}
      </button>
    </mat-card-content>
  </mat-card>
</div>
