<div
  class="auth-layout-img min-vh-100 d-flex flex-column justify-content-center align-items-center position-relative"
>
  <!-- Language Selector -->
  <!-- <div class="position-absolute top-0 end-0 m-3 d-flex align-items-center">
    <app-change-lang></app-change-lang>
  </div> -->

  <!-- Language Menu -->

  <!-- Top Logo -->
  <div class="position-absolute top-0 mb-3 start-0 text-center m-3">
    <img src="assets/images/full-logo.webp" alt="Logo" />
  </div>

  <!-- Projected Auth Content -->
  <ng-content></ng-content>
</div>
