<section *transloco="let t; prefix: translationTemplate">
  <div class="d-flex flex-column">
    <div>
      <button
        mat-button
        class="p-0"
        color="primary"
        type="button"
        [routerLink]="['/', APP_ROUTES.STAFF_LIST]"
      >
        <mat-icon class="icon-arrow_back"></mat-icon>{{ t("BACK") }}
      </button>
    </div>
    <div class="d-flex flex-wrap align-items-center mb-2">
      <h2 class="mat-headline-medium mb-1">{{ t("EDIT_TITLE") }}</h2>
      <button
        mat-icon-button
        class="ms-auto"
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon class="icon-more_vert"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        @if(this.staffAccount().isActive){

        <button mat-menu-item (click)="toggleActivate(false)">
          <mat-icon class="icon-person-remove f-24"></mat-icon>
          {{ t("DE_ACTIVATE_BTN") }}
        </button>
        }@else{
        <button mat-menu-item (click)="toggleActivate(true)">
          <mat-icon class="icon-person-check f-24"></mat-icon>
          {{ t("ACTIVATE_BTN") }}
        </button>
        }
        <button mat-menu-item (click)="openChangeEmailDialog()">
          <mat-icon class="icon-alternate_email f-24"></mat-icon>
          <span>{{ t("CHANGE_EMAIL") }}</span>
        </button>
        <button mat-menu-item>
          <mat-icon class="icon-lock-reset f-24"></mat-icon>
          <span>{{ t("CHANGE_PASS") }}</span>
        </button>
        <button mat-menu-item (click)="deleteStaff()">
          <mat-icon class="icon-delete f-24"></mat-icon>
          {{ t("DELETE_BTN") }}
        </button>
      </mat-menu>
    </div>
  </div>

  <mat-divider></mat-divider>
  <form #staffForm="ngForm" (ngSubmit)="updateStaff()">
    <mat-card class="mt-2 p-0">
      <mat-card-header>
        <mat-card-title class="mat-title-medium primary-color mb-3">
          {{ t("PERSONAL_DETAILS") }}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="d-flex row gx-3 gy-1">
        <brdgs-input
          class="col-12 col-md-6"
          [label]="t('FIRST_NAME')"
          [(value)]="staffAccount().firstName"
          [isRequired]="true"
          [type]="bridgesInputType.TEXT"
          [isDisabled]="false"
        ></brdgs-input>
        <brdgs-input
          class="col-12 col-md-6"
          [label]="t('LAST_NAME')"
          [(value)]="staffAccount().lastName"
          [isRequired]="true"
          [type]="bridgesInputType.TEXT"
          [isDisabled]="false"
        ></brdgs-input>

        <brdgs-input
          class="col-12 col-md-6"
          [label]="t('PHONE_NUMBER')"
          [(value)]="staffAccount().phoneNumber"
          [isRequired]="true"
          [type]="bridgesInputType.TEXT"
          [isDisabled]="false"
          [mask]="'000 0000 0000'"
        ></brdgs-input>

        <brdgs-select
          class="col-12 col-md-6"
          [label]="t('FILTER_IS_ACTIVE')"
          [(value)]="staffAccount().role"
          [isRequired]="false"
          [options]="[
            { key: t('DR_Sales'), value: 'Sales' },
            { key: t('DR_RECEPTIONIST'), value: 'Receptionist' },
            { key: t('DR_COACH'), value: 'Coach' },
            { key: t('DR_SALES_MANAGER'), value: 'SalesManager' },
            { key: t('DR_SESSION_MANAGER'), value: 'SessionManager' }
          ]"
          [isDisabled]="true"
        >
        </brdgs-select>
      </mat-card-content>
    </mat-card>
    <mat-card class="mt-2 p-0">
      <mat-card-header>
        <mat-card-title class="mat-title-medium primary-color mb-3">
          {{ t("ACCOUNT_CONTACT") }}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="d-flex row gx-3 gy-1">
        <brdgs-input
          class="col-12 col-md-6"
          [label]="t('email')"
          [(value)]="staffAccount().email"
          [isRequired]="true"
          [type]="bridgesInputType.EMAIL"
          [isDisabled]="true"
        ></brdgs-input>
        <brdgs-select
          class="col-12 col-md-6"
          [label]="t('BRANCHS')"
          [(value)]="staffAccount().branchIds"
          [isRequired]="true"
          [options]="lookupService.getOptions('Branch') | async"
          [isDisabled]="false"
          [isMultiple]="true"
        >
        </brdgs-select>
      </mat-card-content>
    </mat-card>

    <div class="d-flex py-3">
      <button
        mat-flat-button
        type="submit"
        class="ms-auto"
        color="primary"
        [disabled]="staffForm.invalid || staffForm.pristine"
      >
        {{ t("UPDATE") }}
      </button>
    </div>
  </form>
</section>
