<form
  #filterForm="ngForm"
  *transloco="let t; read: translationTemplate"
  (ngSubmit)="search()"
>
  <div class="row gx-3 gy-1">
    <brdgs-input
      class="col-12 col-md-4"
      [label]="t('SEARCH')"
      [(value)]="filters.searchQuery"
      [isRequired]="false"
      [type]="bridgesInputType.TEXT"
      [prefix]="'icon-search'"
    ></brdgs-input>

    <brdgs-select
      class="col-12 col-md-4"
      [label]="t('MEMBERSHIP_TYPE')"
      [(value)]="filters.type"
      [isRequired]="false"
      [options]="[
        { key: t('INDIVIDUAL'), value: 'Individual' },
        { key: t('PRIVATE_COACH'), value: 'PrivateCoach' },
        { key: t('SESSION_BASED'), value: 'SessionBased' }
      ]"
    ></brdgs-select>
    <app-select-membership
      class="col-12 col-md-4"
      [(id)]="filters.membershipId"
      [translationTemplate]="translationTemplate"
      [isRequired]="false"
      [addAllOption]="true"
    >
    </app-select-membership>
    <brdgs-date-picker
      class="col-12 col-md-4"
      [label]="t('RENEWAL_DATE_FROM')"
      [(value)]="filters.endDateFrom"
      [isRequired]="false"
      [datePickerMax]="filters.endDateTo || ''"
    ></brdgs-date-picker>
    <brdgs-date-picker
      class="col-12 col-md-4"
      [label]="t('RENEWAL_DATE_TO')"
      [(value)]="filters.endDateTo"
      [isRequired]="false"
      [datePickerMin]="filters.endDateFrom || ''"
    ></brdgs-date-picker>

    <brdgs-date-picker
      class="col-12 col-md-4"
      [label]="t('CREATED_DATE_FROM')"
      [(value)]="filters.createdFrom"
      [isRequired]="false"
      [datePickerMax]="filters.createdTo || ''"
    ></brdgs-date-picker>
    <brdgs-date-picker
      class="col-12 col-md-4"
      [label]="t('CREATED_DATE_TO')"
      [(value)]="filters.createdTo"
      [isRequired]="false"
      [datePickerMin]="filters.createdFrom || ''"
    ></brdgs-date-picker>

    <brdgs-select
      class="col-12 col-md-4"
      [label]="t('FILTER_IS_ACTIVE')"
      [(value)]="filters.isActive"
      [isRequired]="false"
      [options]="[
        { key: t('ALL'), value: 'All' },
        { key: t('ACTIVE'), value: true },
        { key: t('IN_ACTIVE'), value: false }
      ]"
    ></brdgs-select>
    <!-- <brdgs-select
      class="col-12 col-md-4"
      [label]="t('FILTER_IS_ACTIVE_USER')"
      [(value)]="filters.isActiveUser"
      [isRequired]="false"
      [options]="[
        { key: t('ALL'), value: 'All' },
        { key: t('ACTIVE'), value: true },
        { key: t('IN_ACTIVE'), value: false }
      ]"
    ></brdgs-select> -->
    <brdgs-select
      class="col-12 col-md-4"
      [label]="t('FILTER_IS_CANCELED')"
      [(value)]="filters.isCanceled"
      [isRequired]="false"
      [options]="[
        { key: t('ALL'), value: 'All' },
        { key: t('YES_CANCELED'), value: true },
        { key: t('NO_CANCELED'), value: false }
      ]"
    ></brdgs-select>
    <brdgs-select
      class="col-12 col-md-4"
      [label]="t('FILTER_IS_FREEZE')"
      [(value)]="filters.isFreeze"
      [isRequired]="false"
      [options]="[
        { key: t('ALL'), value: 'All' },
        { key: t('YES_FREEZE'), value: true },
        { key: t('NO_FREEZE'), value: false }
      ]"
    ></brdgs-select>
    <div class="col-auto ms-auto d-flex flex-wrap">
      <div>
        <button
          mat-stroked-button
          color="primary"
          class="me-3 mb-3 mt-1 mb-md-0"
          type="button"
          (click)="reset()"
        >
          {{ t("RESET") }}
        </button>
      </div>
      <div>
        <button
          mat-flat-button
          cdkFocusInitial
          color="primary"
          class="mb-3 mt-1 mb-md-0"
          type="submit"
          [disabled]="filterForm.invalid"
        >
          {{ t("APPLY") }}
        </button>
      </div>
    </div>
  </div>
</form>
