<div class="d-flex align-items-center justify-content-between gap-3"
*transloco="let t; read: translationTemplate"
>
  <div class="d-flex align-items-center rounded-8 gap-2">
    <!-- date badge -->
    <div
      class="border-secondary-1 rounded-8 overflow-hidden"
      style="width: 60px; max-height: fit-content"
    >
      <p
        class="bg-primary-container m-0 text-center mat-label-large py-1 surface-container-lowest-color"
      >
        {{ viewDate() | date : "MMM" }}
      </p>
      <p
        class="bg-surface-container-lowest m-0 text-center mat-title-medium py-1"
      >
        {{ viewDate() | date : "dd" }}
      </p>
    </div>
    <div class="d-flex flex-column align-items-start">
      <p class="m-0 mat-title-medium">{{ viewDate() | date : "MMMM yyyy" }}</p>
      <p class="m-0 mat-body-medium secoundry-color">
        <span> {{ MonthStart() | date : "MMM d ,yyyy" }}</span>
        <span> - </span>
        <span>{{ MonthEnd() | date : "MMM d ,yyyy" }}</span>
      </p>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center gap-3">
    <div
      class="d-flex align-items-center border-primary-container-1 justify-content-center rounded-circle cursor-pointer width-fit"
      mwlCalendarPreviousView
      [view]="view()"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.emit(viewDate())"
    >
      <i class="f-24 icon-navigate_before primary-container-color"></i>
    </div>
    <div
      class="m-0 mat-title-medium primary-container-color"
      mwlCalendarToday
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.emit(viewDate())"
    >
      {{t('TODAY')}}
    </div>
    <div
      class="d-flex align-items-center border-primary-container-1 justify-content-center rounded-circle cursor-pointer width-fit"
      mwlCalendarNextView
      [view]="view()"
      [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.emit(viewDate())"
    >
      <i class="f-24 icon-navigate_next primary-container-color"></i>
    </div>
  </div>

  <!-- <div class="col-md-4">
    <div class="btn-group">
     <div
        class="btn btn-primary"
        (click)="viewChange.emit(CalendarView.Month)"
        [class.active]="view() === CalendarView.Month"
      >
        Month
      </div> 
      <div
            class="btn btn-primary"
            (click)="viewChange.emit(CalendarView.Week)"
            [class.active]="view() === CalendarView.Week"
          >
            Week
          </div>
          <div
            class="btn btn-primary"
            (click)="viewChange.emit(CalendarView.Day)"
            [class.active]="view() === CalendarView.Day"
          >
            Day
          </div> 
    </div>
  </div> -->
</div>
