@if(currentView() !== 'phone'){
<div
  class="d-flex justify-content-end p-1 toggle-btn-container"
  [@sideBtnAnimation]="isCollapsed() ? 'collapsed' : 'expanded'"
>
  <button mat-icon-button class="mt-2" (click)="toggleSidebar()">
    <mat-icon
      class="primary-color bg-surface-container-lowest rounded-circle"
      [ngClass]="isCollapsed() ? 'icon-arrow_back' : 'icon-arrow_forward'"
    ></mat-icon>
  </button>
</div>
}
<mat-drawer-container class="d-flex vh-100">
  <!-- SIDENAV -->
  <mat-drawer
    #sidenav
    [mode]="currentView() === 'phone' ? 'over' : 'side'"
    [opened]="isSidenavOpen()"
    [disableClose]="true"
    [@sidebarAnimation]="isCollapsed() ? 'collapsed' : 'expanded'"
    class="p-3 pe-0 border-0 bg-"
    ><brdgs-sidenav
      [(isCollapsed)]="isCollapsed"
      [(isSidenavOpen)]="isSidenavOpen"
      [currentView]="currentView()"
      class="d-flex flex-column h-100 px-3"
    ></brdgs-sidenav>
  </mat-drawer>

  <!-- MAIN CONTENT -->
  <mat-drawer-content
    class="w-100 max-vh-100"
    [@sideContentAnimation]="
      currentView() === 'phone'
        ? 'closed'
        : isCollapsed() && isSidenavOpen()
        ? 'collapsed'
        : 'expanded'
    "
  >
    <app-header
      [currentView]="currentView()"
      [(isSidenavOpen)]="isSidenavOpen"
    ></app-header>
    <div class="scroll-container">
      <div class="container d-flex flex-column pt-3">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
