<section *transloco="let t; prefix: translationTemplate">
  <div class="d-flex justify-content-between">
    <h2 class="mat-headline-small primary-color mb-1">{{ t("TITLE") }}</h2>

    <div>
      <button
        *appHasRole="['SuperAdmin', 'SalesManager']"
        mat-stroked-button
        class="mb-2 me-3"
        color="primary"
        type="button"
        (click)="membershipFilter.getAll(true)"
      >
        {{ t("EXPORT") }}
      </button>
      @if(allowSync()){
      <button
        *appHasRole="['SuperAdmin', 'SalesManager','Sales','Receptionist']"
        mat-stroked-button
        class="mb-2 me-3"
        color="primary"
        type="button"
        (click)="batchSyncToGate()"
      >
        {{ t("ADD_TO_GATE") }}
      </button>
      }
      <button
        mat-flat-button
        class="mb-2 me-3 me-sm-0"
        color="primary"
        type="button"
        [routerLink]="['/', APP_ROUTES.MEMBERS_LIST, APP_ROUTES.MEMBERS_ADD]"
      >
        {{ t("ADD") }}
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card class="mt-2">
    <mat-card-content class="">
      <app-member-filter #membershipFilter></app-member-filter>
    </mat-card-content>
  </mat-card>

  @if(membershipFilter.members().length){
  <table class="brdgs-table w-100 mt-3 mb-3">
    <thead class="d-none d-lg-block">
      <tr>
        <th class="col-lg-1">
          {{ t("TABLE_MEMBER_ID") }}
        </th>
        <th class="col-lg-2">
          {{ t("TABLE_NAME") }}
        </th>
        <th class="col-lg-2">
          {{ t("TABLE_PHONE_NUMBER") }}
        </th>

        <th class="col-lg-2">
          {{ t("TABLE_TYPE") }}
        </th>
        <th class="col-lg-2">
          {{ t("TABLE_END_DATE") }}
        </th>
        <th class="col-lg-2">
          {{ t("TABLE_SALES") }}
        </th>

        <th class="col-lg-1"></th>
      </tr>
    </thead>
    <tbody>
      @for (member of membershipFilter.members(); track member.id+ $index) {
      <tr class="d-flex">
        <td class="col-12 col-sm-6 col-lg-1">
          <span class="d-none list-item-label-sm">
            {{ t("TABLE_MEMBER_ID") }}
          </span>

          <span>
            {{ member.memberId }}
          </span>
        </td>
        <td
          class="col-12 col-sm-12 col-lg-2 table-card-title table-primary text-truncate"
        >
          <a
            [routerLink]="[
              '/',
              APP_ROUTES.MEMBERS_LIST,
              APP_ROUTES.MEMBERS_EDIT,
              member.id
            ]"
            class="text-decoration-none table-primary pe-2"
          >
            {{ member.firstName }} {{ member.lastName }}
          </a>
        </td>
        <td class="col-12 col-sm-6 col-lg-2">
          <span class="d-none list-item-label-sm">
            {{ t("TABLE_PHONE_NUMBER") }}
          </span>

          <span>
            {{ member.phoneNumber || "" | mask : "000 0000 0000" }}
          </span>
        </td>
        <td class="col-12 col-sm-6 col-lg-2">
          <span class="d-none list-item-label-sm">
            {{ t("TABLE_membership") }}
          </span>

          <span>
            {{ member.UserMembership.name }}
          </span>
        </td>
        <td class="col-12 col-sm-6 col-lg-2">
          <span class="d-none list-item-label-sm">
            {{ t("TABLE_END_DATE") }}
          </span>
          <div class="text-truncate pe-2">
            <span>
              {{ member.UserMembership.endDate }}
            </span>
          </div>
        </td>
        <td class="col-12 col-sm-6 col-lg-2">
          <span class="d-none list-item-label-sm">
            {{ t("TABLE_SALES") }}
          </span>
          <div class="text-truncate pe-2">
            <span>
              {{ member.UserMembership.salesStaff.firstName }}
              {{ member.UserMembership.salesStaff.lastName }}
            </span>
          </div>
        </td>

        <td class="col-12 col-lg-1 table_action">
          <div class="d-flex flex-wrap justify-content-end align-items-center">
            <div>
              <button
                [routerLink]="[
                  '/',
                  APP_ROUTES.MEMBERS_LIST,
                  APP_ROUTES.MEMBERS_EDIT,
                  member.id
                ]"
                mat-button
                type="button"
                color="primary"
              >
                <mat-icon class="icon-edit"></mat-icon> {{ t("EDIT") }}
              </button>
            </div>
          </div>
        </td>
      </tr>
      }
    </tbody>
    @if(membershipFilter.originalCount() > membershipFilter.pageSize()){
    <tfoot>
      <div class="d-flex justify-content-end p-2 bg-surface-container-lowest">
        <mat-paginator
          [length]="membershipFilter.originalCount()"
          [pageIndex]="membershipFilter.pageNumber() - 1"
          [pageSize]="membershipFilter.pageSize()"
          (page)="
            membershipFilter.pageNumber.set($event.pageIndex + 1);
            membershipFilter.getAll()
          "
          showFirstLastButtons
          [hidePageSize]="true"
          class="bg-surface-container-lowest"
        >
        </mat-paginator>
      </div>
    </tfoot>
    }
  </table>
  } @else{
  <div class="justify-content-center">
    <app-empty-result
      [title]="t('NO_RESULT_TITLE')"
      [image]="'icon-users-01'"
    ></app-empty-result>
  </div>
  }
</section>
