@if(currentView()==='phone'){
<mat-toolbar class="bg-surface-container-lowest d-flex align-items-center py-2">
  <span class="flex-fill">
    <button
      (click)="isSidenavOpen.set(true)"
      mat-icon-button
      aria-label="expand"
    >
      <mat-icon class="icon-menu"></mat-icon>
    </button>
  </span>

  <!-- @if(currentView()!=='phone'){ @if(userService.currentUser$ | async; as user){
  @if( !!user?.id){
  <app-branch-select [staffId]="user.id"></app-branch-select>
  }}

  <mat-divider
    class="vertical-divider align-self-stretch mx-3"
    [vertical]="true"
  ></mat-divider>

  <div
    class="d-flex align-items-center cursor-pointer"
    [matMenuTriggerFor]="userMenu"
  >
    <div class="d-flex flex-column mat-body-medium">
      @if(userService.currentUser$ | async; as user){
      <span class="mat-body-medium"
        >{{ user?.firstName }} {{ user?.lastName }}</span
      >
      <span class="tertiary-color mat-label-medium-prominent">{{
        user?.role
      }}</span>
      }
    </div>
    <mat-icon class="icon-chevron-down"></mat-icon>
  </div>

  <mat-menu #userMenu="matMenu">
    <ng-template matMenuContent>
      @if(userService.currentUser$ | async; as user){
      <div class="p-2 mat-body-large">
        Hello,
        {{ user?.firstName }}
        {{ user?.lastName }}
      </div>
      }
      <mat-divider></mat-divider>

      <button mat-menu-item (click)="logout()">
        <span class="tertiary-color mat-body-large">Sign out</span>
      </button>
    </ng-template> </mat-menu
  >}  -->
</mat-toolbar>
}
