<ng-container *transloco="let t; prefix: translationTemplate()">
  <app-select-membership
    [(id)]="membership().membershipId"
    [translationTemplate]="translationTemplate()"
    (membershipChanged)="setMembership($event)"
    #selectMembership
  >
  </app-select-membership>
  <brdgs-input
    class="col-12 col-md-6"
    [isRequired]="true"
    [label]="t('PRICE_PAID')"
    [(value)]="membership().pricePaid"
    [type]="bridgesInputType.NUMBER"
  ></brdgs-input>
  <brdgs-input
    class="col-12 col-md-6"
    [isRequired]="true"
    [label]="t('FREEZE_PERIOD')"
    [(value)]="membership().freezePeriod"
    [type]="bridgesInputType.NUMBER"
  ></brdgs-input>
  <brdgs-date-picker
    class="col-12 col-md-6"
    [label]="t('MEMBERSHIP_START')"
    [(value)]="startDate"
    [isRequired]="false"
    [datePickerMin]="now"
    (valueChange)="
      setDates(selectMembership.selectedMembership?.durationInDays || 0)
    "
  ></brdgs-date-picker>
  <brdgs-date-picker
    class="col-12 col-md-6"
    [label]="t('MEMBERSHIP_END_DATE')"
    [(value)]="endDate"
    [isRequired]="false"
    [isDisabled]="true"
  ></brdgs-date-picker>

  @if(membership().type === 'SessionBased' ){
  <brdgs-input
    class="col-12 col-md-6"
    [isRequired]="true"
    [label]="t('NUMBER_OF_SESSIONS')"
    [(value)]="membership().numberOfSessions"
    [(value)]="membership().remainingGroupSessions"
    [type]="bridgesInputType.NUMBER"
  ></brdgs-input>
  {{ membership().numberOfSessions }} {{ membership().remainingGroupSessions }}
  }@else if(membership().type === 'PrivateCoach'){
  <brdgs-input
    class="col-12 col-md-6"
    [isRequired]="true"
    [label]="t('NUMBER_OF_SESSIONS')"
    [(value)]="membership().numberOfSessions"
    [(value)]="membership().remainingPersonalTrainer"
    [type]="bridgesInputType.NUMBER"
  ></brdgs-input>
  <app-select-staff
    class="col-12 col-md-6"
    [(staffId)]="membership().coachId"
    [isRequired]="true"
    [label]="t('SELECT_COACH')"
    [role]="'Coach'"
    [translationTemplate]="translationTemplate()"
  ></app-select-staff>
  }@else if(membership().type === 'Individual'){

  <brdgs-input
    class="col-12 col-md-6"
    [isRequired]="true"
    [label]="t('NUMBER_OF_INVITATIONS')"
    [(value)]="membership().numberOfInvitations"
    [type]="bridgesInputType.NUMBER"
  ></brdgs-input>
  <brdgs-input
    class="col-12 col-md-6"
    [isRequired]="true"
    [label]="t('NUMBER_OF_VISITS')"
    [(value)]="membership().numberOfVisits"
    [type]="bridgesInputType.NUMBER"
  ></brdgs-input>

  <brdgs-input
    class="col-12 col-md-6"
    [isRequired]="true"
    [label]="t('INBODY_COUNT')"
    [(value)]="membership().numberOfInBody"
    [type]="bridgesInputType.NUMBER"
  ></brdgs-input>
  <brdgs-input
    class="col-12 col-md-6"
    [isRequired]="true"
    [label]="t('PERSONAL_TRAINER_COUNT')"
    [(value)]="membership().numberOfPersonalTrainer"
    [type]="bridgesInputType.NUMBER"
  ></brdgs-input>

  }
  <app-select-staff
    *appHasRole="['SuperAdmin', 'Receptionist', 'SalesManager']"
    class="col-12 col-md-6"
    [(staffId)]="membership().salesId"
    [isRequired]="true"
    [label]="t('SELECT_SALES_NAME')"
    [role]="'Sales'"
    [translationTemplate]="translationTemplate()"
  ></app-select-staff>
  <brdgs-input
    class="col-12 col-md-6"
    [label]="t('RECEIPT_NUMBER')"
    [(value)]="membership().receiptNumber"
    [isRequired]="false"
    [type]="bridgesInputType.TEXT"
  ></brdgs-input>
</ng-container>
