<mat-form-field class="w-100">
  <mat-label>{{ label() }}</mat-label>
  @if (prefix()) {
  <mat-icon matPrefix class="{{ prefix() }} f-24 ps-2 pe-2"></mat-icon>

  }
  <input
    matInput
    [type]="type()"
    [(ngModel)]="value"
    #valueInput="ngModel"
    name="{{ rondom }}-{{ label() }}"
    [disabled]="isDisabled()"
    mask="{{ mask() }}"
    [validation]="allowValidation()"
  />

  @if (suffix()) {
  <mat-icon matSuffix class="{{ suffix() }} f-24 ps-2 pe-2"></mat-icon>
  }

  <mat-error *transloco="let t; prefix: translationTemplate()">
    @if(valueInput.hasError('required')) {
    {{ t("FIELD_IS_REQUIRED") }}
    } @else if(valueInput.control) {
    {{ t("FIELD_INVALID_" + type().toLowerCase() + "_FORMAT") }} }
  </mat-error>
</mat-form-field>
