<mat-form-field class="w-100">
  <mat-label>{{ label() }}</mat-label>
  <input
    type="text"
    placeholder="Search by member name"
    aria-label="Member Name"
    matInput
    [(ngModel)]="selectedMember"
    [required]="true"
    name="memberSearchValue"
    [matAutocomplete]="auto"
    (ngModelChange)="searchTerm$.next($event)"
  />
  <mat-autocomplete
    [displayWith]="displayFn"
    (optionSelected)="selectedMemberChange.emit($event.option.value)"
    #auto="matAutocomplete"
  >
    @for (option of memberOptions$|async; track $index) {
    <mat-option
      [value]="option"
      [disabled]="
        showPT() && option.UserMembership.remainingPersonalTrainer === 0
      "
    >
      <div class="d-flex flex-column">
        <span
          >{{ option.firstName }} {{ option.lastName }}
          <span class="mat-body-medium on-secondary-fixed-variant-color">
            @if(option.UserMembership.type === "PrivateCoach" ){(Remaining
            {{ option.UserMembership.remainingPersonalTrainer }} )}@else if(
            option.UserMembership.type === 'SessionBased' ){(Remaining
            {{ option.UserMembership.remainingGroupSessions }}) } @else if(
            showPT()&& option.UserMembership.type === 'Individual' ){(Remaining
            {{ option.UserMembership.remainingPersonalTrainer }}) }</span
          >
        </span>
        <span class="mat-body-medium on-secondary-fixed-variant-color">{{
          option.UserMembership.name
        }}</span>
      </div> </mat-option
    >}
  </mat-autocomplete>
</mat-form-field>
