<ng-container *transloco="let t; prefix: translationTemplate()">
  <app-input-with-validation
    [(value)]="account().password"
    [lable]="t('PASSWORD')"
    [required]="true"
    (valueChange)="inputValidatorChange()"
  >
  </app-input-with-validation>

  <mat-form-field class="w-100 mt-3">
    <mat-label>{{ t("CONFIRM_PASSWORD") }}</mat-label>
    <input
      matInput
      [required]="true"
      [(ngModel)]="account().confirmPassword"
      [type]="inputType()"
      (ngModelChange)="inputValidatorChange()"
      name="confirmPassword"
      #inputTag="ngModel"
    />
    @if(inputTag.errors){
    <mat-error>{{ t(errorMessage || "REQUIRED") }}</mat-error>
    }

    <button
      mat-icon-button
      matSuffix
      (click)="
        inputType() == 'password'
          ? inputType.set('text')
          : inputType.set('password')
      "
      [attr.aria-label]="'Hide password'"
    >
      <mat-icon
        class="{{ inputType() === 'password' ? 'icon-eye' : 'icon-eye-off' }}"
      ></mat-icon>
    </button>
  </mat-form-field>
</ng-container>
