<ng-container *transloco="let t; read: translationTemplate">
  <!-- header -->
  <div class="d-flex align-items-center justify-content-between mx-3 my-4 py-1">
    <p class="m-0 mat-title-large">
      {{ t("SESSION_DETAILS") }}
    </p>
    <i
      class="cursor-pointer f-24 icon-close on-secondary-container-color"
      (click)="closeOverlay()"
    ></i>
  </div>
  <mat-divider></mat-divider>
  <!-- details -->
  <div class="m-3">
    <p class="m-0 mat-title-large mb-2 primary-color">
      {{ selectedSession.meta?.Sessions?.name }}
    </p>
    <p
      class="d-flex align-items-center m-0 mat-body-medium mb-2 on-secondary-fixed-variant-color"
    >
      <i
        style="margin: 2px"
        class="f-24 icon-today on-secondary-container-color"
      ></i>
      <span>{{ selectedSession.start | date : "EEEE, LLL dd, yyyy" }}</span>
      <mat-icon
        style="margin: 2px"
        class="f-24 icon-schedule ms-4 on-secondary-container-color"
      ></mat-icon>
      <span class="">{{ selectedSession.start | date : "h:mm a" }}</span>
      <span style="margin: 2px">-</span>
      <span>{{ selectedSession.end | date : "h:mm a" }}</span>
    </p>
    <p class="m-0 mat-body-medium mb-2 on-secondary-fixed-variant-color">
      {{ selectedSession.meta?.Sessions?.description }}
    </p>
  </div>
  <!-- members -->
  <div class="d-flex align-items-center justify-content-between m-3">
    <p class="mat-label-large-prominent">
      {{ t("BOOKED_MEMBERS") }}
      ({{ originalCount() }})
    </p>
    <button
      mat-flat-button
      cdkFocusInitial
      color="primary"
      class="mb-3 mb-md-0 mt-1"
      type="button"
      (click)="addMember()"
    >
      {{ t("ADD_MEMBER") }}
    </button>
  </div>
  <form class="m-3 mb-2">
    <brdgs-input
      [label]="'Search member name, ID, Phone or email'"
      [prefix]="'icon-search'"
      [isRequired]="false"
      [type]="bridgesInputType.TEXT"
      [(value)]="filter.searchKey"
      (valueChange)="getAllSessions()"
    ></brdgs-input>
  </form>
  <!-- members -->
  @for ( session of bookedSessions(); track $index) {
  <div
    class="bg-surface-bright border-surface-dim-1 rounded-8 mb-2 mx-3 px-2 py-1"
  >
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <p class="m-0 mat-label-large primary-container-color">
          {{ session?.firstName }}
          {{ session?.lastName }}
        </p>
        <p class="m-0 mat-label-large on-secondary-fixed-variant-color">
          {{ session?.phoneNumber }}
        </p>
      </div>
      <button
        mat-button
        cdkFocusInitial
        color="error"
        class="mb-3 mb-md-0 mt-1"
        type="button"
        (click)="removeBooking(session.user_session_id || '')"
      >
        {{ t("REMOVE") }}
      </button>
    </div>
  </div>
  }
</ng-container>
