<ng-container *transloco="let t; prefix: translationTemplates">
  <!-- LOGO -->
  <div class="mb-3 pt-3 d-flex align-items-center justify-content-between">
    @if(!isCollapsed()){
    <img src="assets/images/full-logo.webp" alt="Full Logo" class="logo-full" />
    <div class=" d-flex align-items-center justify-content-between">
      @if(currentView() ==='phone') {

      <button
        (click)="isSidenavOpen.set(false)"
        mat-icon-button
        aria-label="close side nav"
      >
        <mat-icon class="icon-close"></mat-icon>
      </button>

      }@else {
      <div
      class="d-flex align-items-center justify-content-center bg-secondary-container border-surface-dim-1 rounded-circle cursor-pointer"
        (click)="isCollapsed.set(true)"
        aria-label="close side nav"
      >
        <span class="icon-navigate_before primary-container-color f-24"></span>
      </div>
      }
    </div>
    } @else{
    <img
      src="assets/images/small-logo.webp"
      alt="Small Logo"
      class="logo-small mt-2"
      width="40px"
    />

    }
  </div>
  <!-- Branch Select -->
  <div class="d-flex my-2 justify-content-between align-items-center">
    <h6 class="mat-title-medium  on-primary-color m-0">{{ t("BRANCH") }}</h6>

    @if(userService.currentUser$ | async; as user){ 
      @if( !!user?.id){
    <app-branch-select [staffId]="user.id"></app-branch-select>
      }
    }
  </div>
  <mat-divider class=""></mat-divider>
  
  <!-- NAVIGATION LINKS -->
  <mat-nav-list class="nav-list p-0">
    @for(menuItem of sidenavMenuItems();track $index){
    <mat-list-item
      class="d-flex align-items-center text-decoration-none menu-item mb-2"
      [routerLink]="menuItem.path"
      [routerLinkActive]="'active'"
      #rla="routerLinkActive"
      [activated]="rla.isActive"
    >
      <!-- Icon -->
      <mat-icon matListItemIcon class="mx-2 {{ menuItem.icon }}"></mat-icon>

      <!-- Label (hidden if collapsed) -->
      @if(!isCollapsed()){
      <span matListItemTitle>
        {{ t(menuItem.label) }}
      </span>
      }
    </mat-list-item>
    }
  </mat-nav-list>
  
  <!-- User Info -->
  <mat-divider class=" mt-auto "></mat-divider>
  <div class="d-flex my-2 justify-content-between align-items-center">
     <mat-icon
        class="icon-account_circle f-24 on-primary-color"
        
      ></mat-icon>
    <div class="d-flex align-items-center">
      <div class="d-flex flex-column mat-body-medium">
        @if(userService.currentUser$ | async; as user){
        <span class="mat-label-large on-primary-color"
          >{{ user?.firstName }} {{ user?.lastName }}</span
        >
        <span class="primary-fixed-dim-color mat-body-small">{{
          user?.role
        }}</span>
        }
      </div>
    </div>
    <button mat-icon-button class="on-primary-color">
      <mat-icon
        class="icon-keyboard_return f-20 on-primary-color"
        (click)="logout()"
      ></mat-icon>
    </button>
  </div>
</ng-container>
