<ng-container *transloco="let t; prefix: translationTemplates">
  <!-- LOGO -->
  <div class="mb-3 pt-3 d-flex align-items-center justify-content-between">
    @if(!isCollapsed()){
    <img src="assets/images/full-logo.webp" alt="Full Logo" class="logo-full" />
    <div>
      @if(currentView() ==='phone') {

      <button
        (click)="isSidenavOpen.set(false)"
        mat-icon-button
        aria-label="close side nav"
      >
        <mat-icon class="icon-close"></mat-icon>
      </button>

      }
    </div>
    } @else{
    <img
      src="assets/images/small-logo.webp"
      alt="Small Logo"
      class="logo-small mt-2"
      width="40px"
    />

    }
  </div>

  <!-- NAVIGATION LINKS -->
  <mat-nav-list class="nav-list p-0">
    @for(menuItem of sidenavMenuItems();track $index){
    <mat-list-item
      class="d-flex align-items-center text-decoration-none menu-item mb-2"
      [routerLink]="menuItem.path"
      [routerLinkActive]="'active'"
      #rla="routerLinkActive"
      [activated]="rla.isActive"
    >
      <!-- Icon -->
      <mat-icon matListItemIcon class="mx-2 {{ menuItem.icon }}"></mat-icon>

      <!-- Label (hidden if collapsed) -->
      @if(!isCollapsed()){
      <span matListItemTitle>
        {{ t(menuItem.label) }}
      </span>
      }
    </mat-list-item>
    }
  </mat-nav-list>

  @if(currentView() ==='phone') {

  <div class="d-flex my-2 mt-auto justify-content-between align-items-center">
    <h6 class="mat-title-medium primary-color m-0">{{ t("BRANCH") }}</h6>

    @if(userService.currentUser$ | async; as user){ @if( !!user?.id){
    <app-branch-select [staffId]="user.id"></app-branch-select>
    }}
  </div>
  <mat-divider class=""></mat-divider>
  <!-- User Info -->
  <div class="d-flex my-2 justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <div class="d-flex flex-column mat-body-medium">
        @if(userService.currentUser$ | async; as user){
        <span class="mat-body-medium"
          >{{ user?.firstName }} {{ user?.lastName }}</span
        >
        <span class="tertiary-color mat-label-medium-prominent">{{
          user?.role
        }}</span>
        }
      </div>
    </div>
    <button mat-icon-button class="bg-tertiary-container">
      <mat-icon
        class="icon-log-out f-20 tertiary-color"
        (click)="logout()"
      ></mat-icon>
    </button>
  </div>
  }
</ng-container>
