<div class="row" *transloco="let t; prefix: translationTemplate()">
  <brdgs-select
    class="col-12"
    [ngClass]="{
      'col-md-6':
        account().relation === relationsToAccount.OTHER ||
        account().relation === relationsToAccount.FAMILY_MEMBER
    }"
    [label]="t('RELATION_TO_ACCOUNT_HOLDER')"
    [(value)]="account().relation"
    [isRequired]="isRequired()"
    [options]="relationsToAccountHolderOptions"
    [translateOptions]="true"
  >
  </brdgs-select>

  @if(account().relation===relationsToAccount.OTHER||account().relation===relationsToAccount.FAMILY_MEMBER){
  <brdgs-input
    class="col-12 col-md-6"
    [label]="t('OTHER_PRIMARY_ACCOUNT_RELATION')"
    [(value)]="account().otherPrimaryAccountRelation"
    [isRequired]="true"
    [type]="bridgesInputType.TEXT"
  ></brdgs-input>
  }
</div>
