<section *transloco="let t; prefix: translationTemplate">
  <div class="d-flex flex-column">
    <div>
      <button
        mat-button
        class="p-0"
        color="primary"
        type="button"
        [routerLink]="['/', APP_ROUTES.MEMBERS_LIST]"
      >
        <mat-icon class="icon-arrow_back"></mat-icon>{{ t("BACK") }}
      </button>
    </div>

    <h2 class="mat-headline-medium mb-1">{{ t("ADD_MEMBER_TITLE") }}</h2>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <mat-stepper
    [labelPosition]="'bottom'"
    [linear]="true"
    #stepper
    [orientation]="(stepperOrientation$ | async)!"
  >
    <mat-step [stepControl]="memberForm.control">
      <ng-template matStepLabel>{{ t("STP_ACCOUNT_DETAILS") }}</ng-template>
      <form #memberForm="ngForm">
        <app-member-form
          [translationTemplate]="translationTemplate"
          [(member)]="member"
        ></app-member-form>

        <div class="d-flex py-3">
          <button
            mat-flat-button
            type="submit"
            class="ms-auto"
            color="primary"
            matStepperNext
            [disabled]="memberForm.invalid || memberForm.pristine"
          >
            {{ t("ADD_MEMBER") }}
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="membershipsForm.control">
      <ng-template matStepLabel>{{ t("STP_ACCOUNT_DETAILS") }}</ng-template>
      <form #membershipsForm="ngForm">
        <mat-card class="mt-2 p-0">
          <mat-card-header>
            <mat-card-title class="mat-title-medium primary-color mb-3">
              {{ t("MEMBER_MEMBERSHIPS") }}
            </mat-card-title>
          </mat-card-header>

          <mat-card-content class="d-flex row gx-3 gy-1">
            @for (membership of userMemberships(); track $index; let i =$index)
            {
            <h4
              class="mat-body-large on-surface-variant-color d-flex flex-wrap align-items-center"
            >
              <span class="d-flex align-items-center" style="height: 40px"
                >{{ t("MEMBERSHIP_DETAILS") }} - {{ 1 + i }}</span
              >
              @if(i>0){
              <button
                (click)="removeMemberships(i)"
                type="button"
                mat-button
                color="accent"
                aria-label="delete Range"
                class="ms-auto"
              >
                {{ t("DELETE_BTN") }}</button
              >}
            </h4>
            <app-member-membership-form
              class="row"
              [(membership)]="userMemberships()[i]"
              [translationTemplate]="translationTemplate"
            ></app-member-membership-form>

            }
            <div class="d-flex col-12 pt-3">
              <button
                (click)="addMemberships()"
                type="button"
                mat-button
                aria-label="add membership"
              >
                <mat-icon aria-label="add Range" class="icon-add"></mat-icon>
                {{ t("ADD_MEMBERSHIP_BTN") }}
              </button>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="d-flex py-3">
          <button
            mat-flat-button
            type="submit"
            class="ms-auto"
            color="primary"
            (click)="finalizeRegistration()"
            [disabled]="membershipsForm.invalid || membershipsForm.pristine"
          >
            {{ t("ADD_MEMBER_SHIP") }}
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</section>
