<form
  #filterForm="ngForm"
  *transloco="let t; read: translationTemplate"
  (ngSubmit)="search()"
>
  <div class="row gx-3 gy-1">
    <brdgs-input
      class="col-12 col-md-4"
      [label]="t('NAME')"
      [(value)]="filter.name"
      [isRequired]="false"
      [type]="bridgesInputType.TEXT"
      [prefix]="'icon-search'"
    ></brdgs-input>
    <brdgs-select
      class="col-12 col-md-4"
      [label]="t('BRANCHS')"
      [(value)]="filter.branchIds"
      [isRequired]="false"
      [options]="lookupService.getOptions('Branch') | async"
      [isDisabled]="false"
      [isMultiple]="true"
    >
    </brdgs-select>
    <brdgs-select
      class="col-12 col-md-4"
      [label]="t('FILTER_STATUS')"
      [(value)]="filter.isActive"
      [isRequired]="false"
      [options]="statusOptions"
      [translateOptions]="true"
      [translationTemplate]="translationTemplate"
    >
    </brdgs-select>
    <brdgs-select
      class="col-12 col-md-4"
      [label]="t('FILTER_ROLE')"
      [(value)]="filter.role"
      [isRequired]="false"
      [options]="[
        { key: t('DR_Sales'), value: 'Sales' },
        { key: t('DR_RECEPTIONIST'), value: 'Receptionist' },
        { key: t('DR_COACH'), value: 'Coach' },
        { key: t('DR_SALES_MANAGER'), value: 'SalesManager' },
        { key: t('DR_SESSION_MANAGER'), value: 'SessionManager' }
      ]"
    >
    </brdgs-select>

    <div class="col-auto ms-auto d-flex flex-wrap">
      <div>
        <button
          mat-stroked-button
          color="primary"
          class="me-3 mb-3 mt-1 mb-md-0"
          type="button"
          (click)="reset()"
        >
          {{ t("RESET") }}
        </button>
      </div>
      <div>
        <button
          mat-flat-button
          cdkFocusInitial
          color="primary"
          class="mb-3 mt-1 mb-md-0"
          type="submit"
          [disabled]="filterForm.invalid"
        >
          {{ t("SEARCH") }}
        </button>
      </div>
    </div>
  </div>
</form>
