<ng-container *transloco="let t; read: translationTemplate">
  <div class="bg-secondary">
    <p class="ms-3 mat-title-large on-primary-color"> {{ t("POPUP_TITLE")}}</p>
  </div>
  <div class="bg-on-primary">
    <div class="m-3">
      <p class="mat-title-large secondary-color mb-3">
        {{ t("SEARCH_MEMBER") }}
      </p>
      <form>
        <app-select-member
      [label] = " t('SEARCH_MEMBER')"
          class="col-12"
          (selectedMemberChange)="setMember($event)"
          [types]="['Individual', 'SessionBased']"
        >
        </app-select-member>

        <div class="mt-2 row">
          @if ( selectedMember()) {
          <div class="col-8 p-1">
            <div
              class="rounded-8 border-surface-dim-1 bg-surface-bright py-1 px-2"
            >
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="m-0 primary-container-color mat-label-large">
                    {{ selectedMember()?.firstName }}
                    {{ selectedMember()?.lastName }}
                  </p>
                  <p
                    class="m-0 on-secondary-fixed-variant-color mat-label-large"
                  >
                    {{ selectedMember()?.phoneNumber }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
        <div class="mt-5 pt-5">
          <mat-divider></mat-divider>
        </div>
        <div class="d-flex justify-content-end align-items-center gap-2">
          <button
            mat-stroked-button
            cdkFocusInitial
            color="primary"
            class="mb-3 mt-1 mb-md-0"
            type="button"
            matDialogClose
          >
            {{ t("CANCEL") }}
          </button>
          <button
            mat-flat-button
            cdkFocusInitial
            color="primary"
            class="mb-3 mt-1 mb-md-0"
            type="button"
            (click)="scheduleSession()"
          >
            {{ t("BOOK_A_SESSION") }}
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-container>
