<div
  *transloco="let t; prefix: translationTemplate"
  class="d-flex flex-column w-100 px-3"
>
  <mat-card class="mx-auto col-12 col-md-6 col-lg-4">
    <mat-card-content class="p-4">
      <!-- Header -->
      <div class="mat-title-large mb-2">
        {{ t("VERIFY_EMAIL_HEADER") }}
      </div>

      <!-- Description -->
      <div class="mat-body-medium on-surface-variant-color mb-4">
        {{ t("VERIFY_EMAIL_DESCRIPTION_1") }} {{ email() }}. <br>
        {{ t("VERIFY_EMAIL_DESCRIPTION_2") }}
      </div>

      <!-- Form -->
    </mat-card-content>
  </mat-card>
</div>
